{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h2>Welcome to Docs Chat!</h2>
    <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, doloremque velit recusandae nam neque aliquam quidem, veniam in distinctio dignissimos sit id omnis excepturi quia ipsum! Molestias temporibus quibusdam reiciendis.</p>
    <a href="/documents"><button>Upload Documents</button></a>
    <a href="/chat"><button>Chat with AI about Documents</button></a>
    <a href="/settings"><button>Set OpenAI API key</button></a>
</div>
{% endblock %}
